<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RentAuto - Tu tienda de renta de autos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="home-user.component.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: brown;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">FASTER</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/historial">Tu Reserva</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/empresa">Empresa</a>
                    </li>
                </ul>
            </div>
            <a class="nav-link active" aria-current="page" href="/login">Login</a>
        </div>
    </nav>



    <div class="container">
        <div class="card mx-auto mt-5 custom-card" style="max-width: 800px;">
            <div class="card-body">
                <p class="card-text fs-6">Tu destino para alquilar el auto perfecto.</p>
                <form class="row g-3">
                    <div class="col-md-6">
                        <label for="lugarS" class="form-label fs-6">Sucursal de Salida:</label>
                        <select class="form-control" id="lugarS">
                            <option value="">Selecciona una Sucursal</option>
                            <option>Ciudad 1</option>
                            <option>Ciudad 2</option>
                            <option>Ciudad 3</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="fechasS" class="form-label fs-6">Salida:</label>
                        <input type="date" class="form-control" id="fechasS">
                    </div>
                    <div class="col-md-3">
                        <label for="horasS" class="form-label fs-6">Hora:</label>
                        <input type="time" class="form-control" id="horasS">
                    </div>
                    <div class="col-md-6">
                        <label for="lugarE" class="form-label fs-6">Sucursal de Entrega:</label>
                        <select class="form-control" id="lugarE">
                            <option value="">Selecciona una Sucursal</option>
                            <option>Ciudad 1</option>
                            <option>Ciudad 2</option>
                            <option>Ciudad 3</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="fechasE" class="form-label fs-6">Entrega:</label>
                        <input type="date" class="form-control" id="fechasE">
                    </div>
                    <div class="col-md-3">
                        <label for="horasE" class="form-label fs-6">Hora:</label>
                        <input type="time" class="form-control" id="horasE">
                    </div>
                    <div class="col-md-9">
                        <button style="width: 735px; border: 10px;" type="submit" class="btn btn-danger btn-lg">Reservar Auto</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <footer class="bg-dark text-white text-center py-4">
        <p>&copy; 2024 RentAuto - Todos los derechos reservados</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
