<app-navbar></app-navbar>
<div class="container mt-4">
    <div class="row">
      <div class="col-sm-12">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="text-danger" href="/">Home</a></li>
          <li class="breadcrumb-item"><a class="text-danger" href="/">Empresa</a></li>
          <li class="breadcrumb-item active text-darkred">Politicas</li>
        </ol>
      </div>
    </div>
  </div> 

  <section>
    <h2 class="section-title">Políticas de Alquiler:</h2>
    <table class="rental-policies-table">
        <tr>
            <th>Política</th>
            <th>Descripción</th>
        </tr>
        <tr>
            <td>Edad Mínima del Conductor</td>
            <td>El conductor principal debe tener al menos 21 años de edad para alquilar un vehículo con RentAuto. Se pueden aplicar cargos adicionales para conductores menores de 25 años.</td>
        </tr>
        <tr>
            <td>Documentos Necesarios</td>
            <td>Para completar la reserva, se requiere una licencia de conducir válida emitida por el país de residencia del conductor principal, así como una tarjeta de crédito válida a nombre del mismo conductor para cubrir el depósito de seguridad y cualquier cargo adicional.</td>
        </tr>
        <tr>
            <td>Seguro</td>
            <td>Todos nuestros vehículos vienen con seguro básico incluido en el precio de alquiler. Se ofrecen opciones de seguro adicional para una mayor protección, que pueden incluir cobertura de daños por colisión, robo y responsabilidad civil.</td>
        </tr>
        <tr>
            <td>Términos y Condiciones de Cancelación y Devolución</td>
            <td>Los términos y condiciones de cancelación y devolución pueden variar según la ubicación y el tipo de reserva. Se pueden aplicar cargos por cancelación tardía o no presentación. Se recomienda revisar los términos específicos al momento de realizar la reserva.</td>
        </tr>
    </table>
</section>


<section>
    <!-- Sección Tipos de Vehículos -->
    <h2 class="section-title">Tipos de Vehículos:</h2>
    <!-- Información sobre tipos de vehículos -->
    <div class="vehicle-container">
        <table class="vehicle-table">
            <thead>
                <tr>
                    <th>Icono</th>
                    <th>Tipo de carro</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><i class="fas fa-gem icon"></i></td>
                    <td>Lujoso</td>
                    <td>Experimenta el lujo en su máxima expresión con nuestra gama de vehículos de alta gama. Estos autos están equipados con características premium, como interiores de cuero, sistemas de entretenimiento de última generación y tecnología de asistencia al conductor. Perfectos para viajes de negocios o eventos especiales donde se requiere estilo y comodidad incomparables.</td>
                </tr>
                <!-- Repetir este patrón para cada tipo de vehículo -->
                <tr>
                    <td><i class="fas fa-users icon"></i></td>
                    <td>Familiar</td>
                    <td>Nuestra selección de vehículos familiares ofrece espacio y comodidad para toda la familia. Con capacidad para hasta siete pasajeros, estos autos están diseñados con características de seguridad avanzadas y comodidades para asegurar viajes sin preocupaciones para ti y tus seres queridos.</td>
                </tr>
                <tr>
                    <td><i class="fas fa-dollar-sign icon"></i></td>
                    <td>Económico</td>
                    <td>Para aquellos que buscan una opción económica sin sacrificar la calidad, ofrecemos una variedad de vehículos económicos. Estos autos son ideales para viajes cortos en la ciudad o para aquellos con un presupuesto ajustado. Con excelente eficiencia de combustible y maniobrabilidad ágil, te ayudarán a ahorrar en tus aventuras diarias.</td>
                </tr>
                <tr>
                    <td><i class="fas fa-car icon"></i></td>
                    <td>Deportivo</td>
                    <td>Para los amantes de la velocidad y el estilo, nuestra línea de autos deportivos está lista para llevar la emoción a la carretera. Con diseños aerodinámicos, potentes motores y características de rendimiento de alto nivel, estos vehículos son perfectos para aquellos que buscan una experiencia de conducción emocionante y dinámica.</td>
                </tr>
                <tr>
                    <td><i class="fas fa-truck-pickup icon"></i></td>
                    <td>Camionetas</td>
                    <td>Ya sea para proyectos de trabajo o aventuras al aire libre, nuestras camionetas ofrecen la versatilidad y la capacidad que necesitas. Desde camionetas pickup robustas hasta SUVs espaciosos, nuestra flota de camionetas está equipada para enfrentar cualquier tarea, ya sea en la ciudad o en terrenos más exigentes.</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>



<app-footer></app-footer>