<app-navbar></app-navbar>
<div class="container mt-4">
    <div class="row">
      <div class="col-sm-12">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="text-danger" href="/">Home</a></li>
          <li class="breadcrumb-item"><a class="text-danger" href="/">Empresa</a></li>
          <li class="breadcrumb-item active text-darkred">Tarifas</li>
        </ol>
      </div>
    </div>
  </div> 

<section>
    <!-- Sección Precios y Tarifas -->
    <h2 class="section-title">Precios y Tarifas:</h2>
    <!-- Información sobre precios y tarifas -->
    <div class="card-container">
        <div class="card">
            <i class="fas fa-money-bill-alt icon"></i>
            <h3 class="card-title">Tarifas Base</h3>
            <p class="card-text">Las tarifas base varían según el tipo de vehículo y la duración del alquiler. Ofrecemos tarifas por día, semana o mes para mayor flexibilidad.</p>
        </div>
        <div class="card">
            <i class="fas fa-plus-circle icon"></i>
            <h3 class="card-title">Tarifas Adicionales</h3>
            <p class="card-text">Pueden aplicarse tarifas adicionales, como cargos por kilometraje adicional, seguros opcionales, tarifas de aeropuerto o cargos por conductor adicional. Estos costos se detallan claramente durante el proceso de reserva.</p>
        </div>
        <div class="card">
            <i class="fas fa-tags icon"></i>
            <h3 class="card-title">Promociones Especiales y Descuentos</h3>
            <p class="card-text">Faster ofrece promociones especiales y descuentos periódicos para clientes recurrentes, reservas anticipadas o asociaciones con empresas y organizaciones.</p>
        </div>
        <div class="card">
          <i class="fas fa-dollar-sign icon"></i>
          <h3 class="card-title">Políticas de Cancelación y Reembolsos</h3>
          <p class="card-text">Las reservas pueden cancelarse sin costo hasta 24 horas antes del inicio del alquiler. Pasado este tiempo, aplicarán cargos por cancelación tardía.</p>
      </div>
    </div>
</section>
<app-footer></app-footer>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-qx5HsnPeevGBxdJ+gJnxlySM/8zLtuZXX6YrLjMQYHLSTlMxtUWtF1tX2ecf6NA0St1NRr7BtxS2Qh61MmKVQw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">